@model Day9WebApp.Models.Person
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>My first view</p>
    <br />

    <p>Name: @ViewBag.name</p>
    <p>Age: @ViewBag.age</p>
    <p>Birthday: @ViewBag.birthday</p>
    <br />

    <p>With Model</p>
    <p>Name: @Model.Name</p>
    <p>Age: @Model.Age</p>
    <p>Birthday: @Model.Birthday</p>
}
