@model Day12WebApp.Models.Person
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Person created</h1>
<div>
    @Html.LabelFor(p => p.fornavn)
    @Html.DisplayFor(p => p.fornavn)
</div>
<div>
    @Html.LabelFor(p => p.efternavn)
    @Html.DisplayFor(p => p.efternavn)
</div>
<div>
    @Html.LabelFor(p => p.alder)
    @Html.DisplayFor(p => p.alder)
</div>